.backDrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 1000;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 200ms, visibility 200ms;
    -o-transition: opacity 200ms, visibility 200ms;
    transition: opacity 200ms, visibility 200ms;
}
    
.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99;
}


.modal.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.modal-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}
.modal-container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 20px;
    max-width: 380px;
    width: 100%;
    text-align: center;
}
.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--main-color);
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    font-size: 26px;
}

.modal-container > img {
    width: 50px;
    height: auto;
    -webkit-animation: tastanimation 2s linear 0.5s alternate 1;
    animation: tastanimation 2s linear 0.5s alternate 1;
    position: relative;
}

@-webkit-keyframes tastanimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes tastanimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.modal-container > h1 {
    font-size: 16px;
    margin: 12px 0px;
    color: #000;
    font-family: var(--poppins);
    font-weight: 500;
}




.single{
    text-align: left;
    position: relative;
    padding-top: 8px;
}

.mobile-icon{
    position: absolute;
    top: 42px;
    font-size: 20px;
    left: 5px;
    color: #212121;
}

.single input {
    width: 100%;
    border: none;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins';
    border-bottom: 2px solid #E9E9E9;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 25px;
    margin: 8px 0px;
}

.single input:hover {
    border: none;
    border-bottom: 2px solid #E9E9E9;
  }
  
  .single input:focus {
    border: none;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid #E9E9E9;
    padding-left: 25px;
  }


.single label{
    display: block;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 5px;
}

.LogInBtn{
    border: 2px solid transparent;
    display: inline-block;
    padding: 8px 20px;
    color: #000;
    transition: 0.4s;
    background: var(--secundery-color);
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}


.signUp{
    font-size: 13px;
    font-family: var(--poppins);
    text-align: left;
    font-weight: 600;
    margin: 12px 0px;
}


@media all and (max-width: 575px) {
    .modal-container {
        padding: 20px;
        max-width: 90%;
        width: 90%;
    }
}